[2013-09-08 08:44] krzyk opened #1 "Plugin not marked with @threadSafe"
It would be good to have the plugin allow parallel execution, this speeds up maven builds on new machines.
Right now when I do a mvn -T1 on a dual core cpu I get:
[code]

[2013-09-25 11:37] yegor256 opened #2 "doesn't work with Maven 3.1"
The plugin fails in Maven 3.1:

[code]

[2013-09-29 13:29] #2 closed, assigned to nobody

[2013-09-29 17:23] yegor256 opened #4 "missed target/classes directory in #classpath()"
After the changes made in #2 the plugin misses `target/classes` directory in the result of `classpath()` method.

[2013-10-03 06:39] #4 closed, assigned to nobody

[2014-03-12 15:06] yegor256 opened #6 "String index out of range: -1 in com.jcabi:jcabi-maven-plugin:0.9.1:versionalize"
[code]

[2014-03-12 16:26] #6 closed, assigned to nobody

[2014-06-06 19:14] sfat opened #7 "jcabi-maven-plugin not working well with multi module maven"
So, I have parent pom and 2 child modules (let's say A and B) and B has dependency of A.
Running ```mvn release:prepare``` but also can be reproduced if you empty ```~/.m2/repo``` and running the a ```mvn clean test -DskipTests=true``` from parent, B cannot be compiled because of A it is not installed on the local repo (i.e. ```~/.m2/repo```).
It seems that jcabi-maven-plugin assumes that the arti

[2014-08-20 10:01] yegor256 opened #8 "skin 1.4"

[2014-08-20 10:35] #8 closed, assigned to nobody

[2014-09-17 18:54] ratabora opened #12 "NullPointerException on AwsHostNameUtils.parseRegionName"
Hey all,

I think I'm messing something up ... I'm trying to use this library based on the information provided here: http://dynamodb.jcabi.com/usage.html

I'm getting the following NPE:

[code]

Is there anything missing from the documentation? Has anyone seen this before? I'm guessing I'm setting something up wrong.

[2014-09-17 19:34] #12 closed, assigned to nobody

[2014-11-04 19:55] krzyk opened #13 "Missing documentation about JSR-303"
Currently when one wants to use jcabi maven plugin in their project they will see such text in build log:
[code]

The link provided doesn't explain what to do in case of plugin. I think that there should be info on the project page how to really fix the problem.

To get rid of this warning one has to add validator as a dependency not to the project but to the plugin:
[code]

[2014-11-11 08:54] deltatree opened #15 "logging in ajc is not thread safe -> parameter log is necessary - please add it"
[code]

[2014-11-12 07:08] #15 closed, assigned to nobody

[2014-11-12 07:09] deltatree opened #17 "-log needs also a value like -source or -target"
Hi,

-log needs a value -> the logfile to be written to. This should be configurable like -source or -target in the configuration section of the pom.

Alex

[2014-11-13 10:08] htammen opened #18 "Invalid byte tag in constant pool"
Whenn running my mvn buid with jcabi-maven-plugin I get the following error.
Any suggestions? I have no idea.

[code]

[2014-11-18 13:49] #18 closed, assigned to nobody

[2014-12-07 18:35] #17 closed, assigned to nobody

[2014-12-31 08:01] dmarkov opened #21 "AjcMojoTest.java:72-73: The test is disabled because..."
Puzzle `1-6356edfc` in `src/test/java/com/jcabi/maven/plugin/AjcMojoTest.java:72-73` has to be resolved: The test is disabled because I can't make it working. Let's try to enable it and fix.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-01-06 10:54] asinyagin opened #22 "Error: No appenders could be found for logger (org.jboss.logging)"
I got this message when I built a project using jcabi-maven-plugin. There is the same warning in jcabi-github build: http://www.rultor.com/t/782-55782809.

I turned on log4j debug messages and got:
[code]

Looks like jcabi-maven-plugin should have its own log4j.properties like maven-javadoc-plugin for example (https://github.com/apache/maven-plugins/blob/trunk/maven-javadoc-plugin/src/main/resourc

[2015-01-07 08:54] dmarkov commented on #22
I'll ask someone to take care of this task soon

[2015-01-07 08:58] dmarkov commented on #22
@maurezen please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-07 08:59] dmarkov commented on #22
@asinyagin thanks for reporting! I topped your account for 15 mins, transaction 49952107

[2015-01-07 14:53] maurezen commented on #22
Created a pull request here #24

@dmarkov shouldn't this task also be labeled after me?

[2015-01-07 14:55] maurezen opened #25 "Copyright section is outdated"
Copyright part in license sections still features 2014.

[2015-01-07 22:19] darkled commented on #21
@dmarkov puzzle should be resolved and changes were merged, please, check it.

[2015-01-08 07:02] dmarkov commented on #25
I'll ask someone to take care of this task soon

[2015-01-08 07:05] dmarkov commented on #1
@cyberone the task is your hands for the last 12 days.. keep in mind that if it's not closed in the next 24 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -30 added to your rating, current score is: [-100](http://www.netbout.com/b/35076?open=rating)

[2015-01-08 07:05] dmarkov commented on #25
@palyuga it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-08 07:06] dmarkov commented on #25
@maurezen thanks a lot for reporting, **15 mins** added to your acc, pmt ID `49975504`

[2015-01-10 11:43] maurezen commented on #22
@asinyagin the pull request #24 is merged, please close the issue.

[2015-01-10 12:00] palyuga commented on #25
@maurezen merged to master now, close this issue, please

[2015-01-10 12:27] #25 closed

[2015-01-10 19:03] cyberone commented on #1
@dmarkov please review https://github.com/jcabi/jcabi-maven-plugin/pull/27

[2015-01-10 20:26] #22 closed

[2015-01-12 10:56] dmarkov commented on #1
@cyberone you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 added to your rating, current score is: [-550](http://www.netbout.com/b/35076?open=rating)

[2015-01-12 10:56] dmarkov commented on #21
@darkled you're working with this ticket for the last 12 days. If it's not closed within the next 40 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. do not forget to remove the TODO puzzle from the source code. -30 to your rating, your total score is [-60](http://www.netbout.com/b/35091?open=rating)

[2015-01-12 11:24] darkled commented on #21
@dmarkov @yegor256 I am not sure these -30 are correct, aren't they?

[2015-01-14 10:20] dmarkov commented on #1
@dpisarenko the task is yours, go ahead

[2015-01-14 10:20] dmarkov commented on #13
@flexelem you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 added to your rating, current score is: -125

[2015-01-14 10:20] dmarkov commented on #22
@maurezen **30 mins** was added to your account, many thanks for your contribution!

+30 added to your rating, current score is: [+360](http://www.netbout.com/b/35102?open=rating)

[2015-01-14 10:20] dmarkov commented on #25
@palyuga paid, thanks, added **30 mins** to your account, payment `50255789`

added +30 to your rating, now it is equal to +105

[2015-01-14 13:35] dpisarenko commented on #1
@krzyk How can I reproduce this error?

When I run `mvn -T 1C clean install -Pqulice` on my dual-core machine (inside jcabi-maven-plugin directory), I don't see the error.

[2015-01-14 14:01] dpisarenko commented on #1
@krzyk  When I run the same command in the rultor directory (as you probably did), I see the following message, but no warning.

[code]

[2015-01-14 14:14] dpisarenko commented on #1
@yegor256 `rultor-users` (where the error occured) seems to be an old project. Does it make sense to check out rultor-0.2 ( https://github.com/rultor/rultor/tree/rultor-0.2 ) and try to reproduce the error there?

[2015-01-14 19:16] krzyk commented on #1
@dpisarenko this information shows on maven 3.1.x, they removed explicit warning in 3.2.x, but `@threadSafe` annotation doesn't appear to be deprecated so I would still add it to the plugin

[2015-01-14 19:27] dpisarenko commented on #1
@dmarkov Please review my PR https://github.com/jcabi/jcabi-maven-plugin/pull/28 .

[2015-01-15 20:11] darkled commented on #21
@dmarkov would you mind to close the issue, please, if it is ok now?

[2015-01-16 14:19] darkled commented on #21
@yegor256 this issues stays without any response from creator for 9 days. Could you help with it, please?

[2015-01-16 14:28] yegor256 commented on #21
@darkled which pull request fixed the problem?

[2015-01-16 14:31] darkled commented on #21
@yegor256 PR #23

[2015-01-16 15:22] yegor256 commented on #21
@dmarkov will be closed today or tomorrow the latest. if this doesn't happen, message me again

[2015-01-16 15:25] darkled commented on #21
@yegor256 thank you

[2015-01-18 19:59] darkled commented on #21
@yegor256 still nothing happened with this issue...

[2015-01-19 09:44] dmarkov commented on #21
Thanks, closed

[2015-01-19 09:44] #21 closed

[2015-01-19 09:46] dmarkov commented on #21
@darkled **30 mins** sent to your balance (ID `50344882`), many thanks!... +30 added to your rating, at the moment it is: [+195](http://www.netbout.com/b/35091?open=rating)

[2015-01-19 15:46] dpisarenko commented on #1
@krzyk The bugfix has been merged. Please look at it, and if everything is OK, close the issue. Thanks!

[2015-01-19 15:54] krzyk commented on #1
thanks

[2015-01-19 15:54] #1 closed

[2015-01-20 11:23] dmarkov commented on #13
@nhekfqn this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-21 13:10] dmarkov commented on #1
@dpisarenko Much appreciated! **31 mins** was added to your account, payment ID `50573195`; +31 added to your rating, current score is: [+401](http://www.netbout.com/b/35089?open=rating)

[2015-01-26 11:21] nhekfqn commented on #13
@dmarkov pull request sent https://github.com/jcabi/jcabi-maven-plugin/pull/29

[2015-01-27 20:25] nhekfqn commented on #13
@dmarkov related pull request has been merged.

[2015-01-27 20:39] yegor256 commented on #13
@nhekfqn ask the reporter to close it

[2015-01-27 20:49] nhekfqn commented on #13
@krzyk Could you please close the ticket?

[2015-01-27 20:58] krzyk commented on #13
thanks

[2015-01-27 20:58] #13 closed

[2015-01-27 21:04] nhekfqn commented on #13
@dmarkov the ticket has been closed.

[2015-01-29 11:09] nhekfqn commented on #13
@dmarkov Can we please deploy and give me a payment please?

[2015-01-30 07:59] dmarkov commented on #13
@nhekfqn I just added **30 mins** to your account, many thanks for your contribution..

added +30 to your rating, now it is equal to [+105](http://www.netbout.com/b/35123?open=rating)

[2015-02-18 11:28] dmarkov commented on #1
the last puzzle `1-6356edfc`/#21 originated from here solved

[2015-04-07 07:26] dmarkov opened #30 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:09] dmarkov opened #31 "0.13"
Please, publish a new release **0.13** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 13:12] dmarkov opened #32 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-15 09:29] hellobigbean opened #33 "@Aspect and @Autowired"
I use `@Aspect` in our class(and no jcabi annotation be used ) and use `@Autowired` in some field , but I found out the class be compiled by "jcabi-maven-plugin" ,such as

[code]

And the problem is  field not be autowired into my class .

How  "jcabi-maven-plugin"  deal with `@Aspect` ?

[2015-05-12 07:01] dmarkov commented on #31
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 07:01] dmarkov commented on #31
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-30 08:03] sfat commented on #7
I managed to make it work. Sorry for the delay.

[2015-05-30 08:03] #7 closed

[2015-06-01 07:13] dmarkov commented on #32
@yegor256 The issue is closed

[2015-06-01 07:13] #32 closed

[2015-06-04 08:19] dmarkov commented on #30
@yegor256 We are done here, thanks all

[2015-06-04 08:19] #30 closed

[2015-06-04 08:19] dmarkov commented on #31
@yegor256 Done, thanks all, closing..

[2015-06-04 08:19] #31 closed

[2015-06-10 10:45] YamStranger opened #34 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-15 08:07] dmarkov commented on #33
@yegor256 please dispatch this issue

[2015-06-15 08:07] dmarkov commented on #34
@yegor256 please do something about this issue

[2015-06-16 22:29] YamStranger commented on #34
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-06-22 22:49] yegor256 commented on #34
@YamStranger fixed in https://github.com/jcabi/jcabi-maven-plugin/commit/faf7a4ed55e6e66d026dc83dde6102b2ec86c812

[2015-06-22 22:49] #34 closed

[2015-06-23 21:02] yegor256 commented on #33
@hellobigbean I'm not sure I understand the problem. Can you explain what you're trying to do and what doesn't work?

[2015-06-30 02:06] tingt opened #36 "The jcabi-maven-plugin initialized the class(with @Aspectj annotation) twice. How jcabi-maven-plugin deal with @Aspectj and spring-aop ?"
**The jcabi-maven-plugin initialized the class(with @Aspectj annotation) twice. How jcabi-maven-plugin deal with @Aspectj  and spring-aop ?**
Here is my code.
AopUtils.java
[code]
Logic.java
[code]
default-spring.xml
[code]
Tester.java
[code]
**if use the maven-compiler-plugin compile the classes, run the Tester, result is :**
*aop utils aop.AOPUtils@3b1d04*
*=========================enter AOPUtil

[2015-07-03 08:51] dmarkov commented on #36
@yegor256 dispatch this issue please

[2015-07-03 15:45] yegor256 commented on #36
@tingt I'm not sure how to answer this... I think that spring-aop has its own weaving mechanism. You don't need to use jcabi-maven-plugin at all. Spring will do all this work for you.

[2015-07-07 02:36] tingt commented on #36
@yegor256  all right, thank you very much.

[2015-07-07 02:36] #36 closed

[2015-07-07 05:10] hellobigbean commented on #33
@yegor256 , Pls ref to https://github.com/jcabi/jcabi-maven-plugin/issues/36  issued by  colleague @tingt 。

[2015-07-07 05:10] #33 closed

[2015-07-09 20:59] yegor256 opened #37 "jcabi-ajc.log"
Looks like recent version of aspectj generates `jcabi-ajc.log` file in `/target/classes` directory when `ajc` goal is running. We should delete it or prevent it from being created. Or, even better, move it to `/target`. It shouldn't stay in `/target/classes`

[2015-07-10 08:21] dmarkov commented on #37
@yegor256 this task will get someone's attention soon

[2015-07-10 08:23] dmarkov commented on #37
@krzyk it's yours, please help, budget is 30 mins

[2015-07-10 08:23] dmarkov commented on #37
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-12637add

[2015-07-10 09:02] krzyk commented on #37
@yegor256 here's PR #38

[2015-07-10 18:55] krzyk commented on #37
@yegor256 please close this issue,  code changes have been merged

[2015-07-10 19:02] yegor256 commented on #37
@krzyk thanks!

[2015-07-10 19:03] yegor256 commented on #37
@rultor release, tag is `0.13.1`

[2015-07-10 19:05] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4455-120495370)

[2015-07-10 19:12] rultor commented on #37
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4455-120495370) (took me 8min)

[2015-07-18 15:31] krzyk commented on #37
@yegor256 please close this issue, thanks

[2015-07-18 15:35] krzyk commented on #37
@dmarkov please give me more time here

[2015-07-20 07:34] dmarkov commented on #37
@krzyk sure, thanks for telling me, take your time

[2015-07-21 05:23] krzyk commented on #37
@yegor256 ping

[2015-07-21 07:00] yegor256 commented on #37
@krzyk thanks!

[2015-07-21 07:00] #37 closed

[2015-07-22 09:31] dmarkov commented on #37
@krzyk paid, thanks, added **30 mins** to your account, payment `61629226`, 262 hours and 55 mins was spent... +30 added to your rating, current score is: [+4438](http://www.netbout.com/b/35035?open=rating)

[2015-10-30 03:05] benoitdechateauvieux opened #40 "cleanup of temp directory is required"
Hi,

I use the following settings:
[code]

The result is:
- all the classes declared in src/main/java are compiled in target/classes
- all the classes declared in src/test/java **and src/main/java** are compiled in target/test-classes

This doesn't match the Maven convention (src/main/xxx => target/classes, src/test/xxx => target/test-classes)

This jar hell is detected by Elasticsearch BootstrapF

[2015-11-02 07:03] dmarkov commented on #40
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://www.teamed.io/policy.html#21)

[2015-11-02 18:09] yegor256 commented on #40
@benoitdechateauvieux check this, maybe it will help: https://github.com/jcabi/jcabi-parent/blob/0.37.1/pom.xml#L467-L510 I suspect, the problem is with the temp directory

[2015-11-03 02:28] benoitdechateauvieux commented on #40
@yegor256 Yes! This solved my problem.
It could be a good idea to clean up the default temp directory after every execution to avoid this kind of unexpected behavior.

[2015-11-03 03:28] yegor256 commented on #40
@benoitdechateauvieux indeed, it's a good idea, we'll implement it, thanks

[2016-01-14 14:56] mgreau opened #41 "AJC Classpath issue with Maven multi-modules project"
## Problem

In a multi-module Maven project, when your Aspect class and the Annotation class are in different Maven modules, AJC can't weave classes if the artifacts of the project (JARs) are not available in a Maven repository.

AJC generates the following error because it can't find the related Annotation in the Classpath.

[code]

## Cause

It's due to the fact that the Classpath generated by t

[2016-01-15 09:53] mgreau commented on #41
I added another Docker configuration in the docker-compose.yml file of the sample project to validate the fix proposed.

So, now with:
[code]
You should have the following results (from the 3 tests containers):
* test-ko_1          | [INFO] BUILD FAILURE
 * mvn clean test with latest jcabi-maven-plugin release version (0.13.2)
* test-ok_1          | [INFO] BUILD SUCCESS
 * this the container with

[2016-01-18 12:23] dmarkov commented on #41
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-18 22:19] yegor256 commented on #41
@mgreau I haven't seen this before, but I totally understand what the problem is. Can you suggest a fix/PR?

[2016-01-18 22:37] mgreau commented on #41
Yes, I already did it with this PR :)

https://github.com/jcabi/jcabi-maven-plugin/pull/42

[2016-01-19 09:57] dmarkov commented on #40
@piddubnyi please help, the task is yours

[2016-01-26 07:36] mgreau commented on #41
Hi, any news on this issue?
Can you confirm this PR
https://github.com/jcabi/jcabi-maven-plugin/pull/42 fixed it? Thanks

[2016-01-26 08:25] piddubnyi commented on #40
@benoitdechateauvieux The fix is merged. Please close the issue.

[2016-01-26 08:41] #40 closed

[2016-01-27 13:20] dmarkov commented on #40
@piddubnyi I added **30 mins** to your account, many thanks for working with the project (75790980)! The completion time here was 171 hours and 1 min.

+30 to your rating, your total score is [+120](http://www.netbout.com/b/35966?open=rating)

[2016-02-16 10:13] krzyk opened #45 "Add option to put unwoven classes in a directory"
When doing weaving one can leacve unwoven classes in the original directory and create woven classes in given directory (using `classesDirectory`), with optional replacement of the originals with the woven ones.

But it would be beneficial to have the other way around, store the unwoven classes in some predefined directory (e.g. `unwovenClassesDirectory`, or just hardcoded to e.g. `unwoven`).

Thi

[2016-02-23 12:55] dmarkov commented on #45
@krzyk this task will get someone's attention soon

[2016-02-23 12:56] dmarkov commented on #45
@krzyk thanks for the ticket, your account was topped for 15 mins, payment 78357403

[2016-02-25 14:55] krzyk commented on #45
@yegor256 Could you dispatch this issue? It will reduce the amount of work in teamed/qulice#706 (or rathere future rework).

[2016-02-25 17:15] yegor256 commented on #45
@dmarkov pls assign @amihaiemil to this

[2016-02-26 08:30] dmarkov commented on #45
@yegor256 OK @amihaiemil please start, the task is yours

[2016-02-28 22:24] amihaiemil commented on #45
@dmarkov I created PR #46 for this issue. Please assign a reviewer. Thanks.

[2016-03-01 08:21] dmarkov commented on #45
@amihaiemil will do soon

[2016-03-02 11:21] mgreau commented on #41
The PR #42 has been merged and it fixes this issue, can you confirm?

[2016-03-05 13:06] amihaiemil commented on #45
@krzyk Can this issue be closed now, or do you think there's something else I should do?

[2016-03-07 07:53] krzyk commented on #45
@amihaiemil do I see it correctly that by default there is no `unwoven` directory?

[2016-03-07 08:50] krzyk commented on #45
@amihaiemil actually I think that your current solution doesn't do ajc into `classes` directory, as its content doesn't have the aspects that I've added (usually there are more `.class` files there), and the content of `uvowen` directory is identical to the `classes` directory

[2016-03-07 12:04] amihaiemil commented on #45
@krzyk To your first comment: Yes, by default there is no ``unwoven`` directory... It has to be specified and be different than ``classesDirectory`` and ``${project.build.outputDirectory}`` - this is because almost always the ``classesDirectory`` and ``${project.build.outputDirectory}`` will coincide... In the case when the 2 do not coincide, you don't want your project's compiled classes to be re

[2016-03-07 12:06] amihaiemil commented on #45
@krzyk To your second comment: My solution does not interfeer with the woving logic. The copy is done before everything else. If ``unwovenClassesDir`` is specified and ok. If the ``ajc`` does not seem to execute correctly, I think it's something wrong in the method ``executeAJC()`` ? But I never toched that. Can you give the steps to reproduce the problem? Thanks.

[2016-03-07 12:08] krzyk commented on #45
@amihaiemil
1. Why it has to be specified if this will be the default case? Every jcabi project uses jcab-maven-plugin, and every one uses qulice. Without `unwoven` directory qulice will be failing.

2. Yes it interferes, now no class is woven, if I don't configure the jcabi-maven-plugin and use the default from jcabi-parent:
[code]
There are no *woven* classes in `classes` directory, which breaks

[2016-03-07 12:10] krzyk commented on #45
@amihaiemil I think the problem is that by default you made `outputDirectory` same as `unwovenClassesDir`, so probably the other overwrites the first or something.
Basically, before your changes it was working, after your changes it stopped.

[2016-03-07 12:21] amihaiemil commented on #45
@krzyk I didn't implement it thinking of qulice and our particular need... I implemented it so it would be ok for whoever uses the plugin... Why should it be a blackbox? Other users will wonder why is the "unwoven" directory created and why are the classes copied there if nothing was specified.

Do you think the default should be the ``unwoven`` directory, if nothing is specified?

In your above c

[2016-03-07 12:24] krzyk commented on #45
@amihaiemil It shouldn't be a black box, but the default settings should be useful for us, you just need to add an option to disable it, not to enable.

And users might already wonder why we have `jcabi-ajc` or `jcabi-ajc.log`, which are already produced by this plugin.

[2016-03-07 12:26] amihaiemil commented on #45
@krzyk Ok, I will make it like this then. Before waving classes will be copied to ``unwoven`` directory, and I will add an option to disable this behaviour. I will do this as soon as I get the change, later today.

[2016-03-07 12:30] amihaiemil commented on #45
@krzyk However I still don't really understand what doesn't work anymore? Classes are not woven in ``classesDirectory``? That's strange, you can even look at the code to see what I did - it's pretty simple.   Anyway, I'll look into that case too.

[2016-03-08 13:25] dmarkov opened #47 "AjcMojo.java:71-72: The new mojo parameter, unwovenClassesDir,..."
Puzzle `45-e72ce9fe` in `src/main/java/com/jcabi/maven/plugin/AjcMojo.java:71-72` has to be resolved: The new mojo parameter, unwovenClassesDir, should be documented and exemplified on the plugin's site plugin.jcabi.com.... The puzzle was created by Mihai Andronache on 1-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the probl

[2016-03-08 13:25] dmarkov commented on #45
@krzyk once `45-e72ce9fe`/#47 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-03-08 17:38] amihaiemil commented on #45
@krzyk I will make this evening a PR with the requested change, but please give the exact reproducing steps (project, <plugin> config in pom.xml etc) of the problem you mentioned about weaving classes.

I tested and it seems to work just fine. I made a project with some classes and aspects from jcabi-aspects and added the following configuration, with the new released plugin:

https://gist.github.

[2016-03-08 19:45] krzyk commented on #45
@amihaiemil
See attached project
[findbugs-annotations.zip](https://github.com/jcabi/jcabi-maven-plugin/files/163833/findbugs-annotations.zip)

Command
[code]

Expectred  output:
[code]

Current output:
[code]

[2016-03-08 22:17] amihaiemil commented on #45
@krzyk The only difference I see in the build, between ``0.13.2`` and ``0.14`` is that for ``0.14``, jcabi-aspects ``@Cachable`` thread finds an error.

0.13.2:
![image](https://cloud.githubusercontent.com/assets/6305156/13618140/18ebbaca-e58b-11e5-93c7-b71588590c15.png)

0.14:
![image](https://cloud.githubusercontent.com/assets/6305156/13618181/671977e6-e58b-11e5-8614-e2971d0facf5.png)

I think t

[2016-03-09 07:03] amihaiemil commented on #45
@krzyk I opened issue https://github.com/jcabi/jcabi-aspects/issues/216 for the matter above. I am currently waiting for an answer...

[2016-03-09 07:50] krzyk commented on #45
@amihaiemil I don't have this error so it is not related:
[code]

[2016-03-09 07:54] amihaiemil commented on #45
@krzyk I already made the discussed change with ``unwoven`` dir and disabling option - still the same behaviour. I'll make the PR when I find and fix the bug.

[2016-03-09 08:16] krzyk opened #48 "AJC is not executed correctly"
After changes done in #41 (44117383ff8ff8aa19e8833644c5ef902e8ef40d) ajc doesn't weave the project that is using jcabi-maven-plugin.

Attached is an example project that does weaving in 4e3c15e6b5921a21fef47b013e4a39a53c993e91 and stops doing it in 44117383ff8ff8aa19e8833644c5ef902e8ef40d

The expected tail output for command:
[code]
is:
[code]
(without the `09:13:16.034 ` and `in 806.87µs` as it

[2016-03-09 08:17] krzyk commented on #45
@amihaiemil I reported a bug #48, you were right this bug was not introduced by you but in #41.

[2016-03-09 08:30] amihaiemil commented on #45
@krzyk I created PR #49 with the discussed change.

[2016-03-10 06:59] krzyk commented on #48
@yegor256 could you dispatch this issue? It is blocking teamed/qulice#706

[2016-03-11 06:06] amihaiemil commented on #45
@krzyk PR #49 has also been merged and closed. Can you close this issue if it's ok? Thanks.

[2016-03-11 09:18] dmarkov commented on #48
@krzyk I will find a developer for the task soon...

[2016-03-11 09:20] dmarkov commented on #48
@krzyk thanks for the report, I topped your acc for 15 mins, payment ID `79994251`

[2016-03-11 15:52] amihaiemil commented on #45
@krzyk Don't forget to respond here or close this if it's ok, please. Thanks.

[2016-03-11 20:12] krzyk commented on #45
@amihaiemil it is hard to tell if it is OK, because the project is in broken state.

[2016-03-11 20:15] krzyk commented on #45
@amihaiemil I see that you used `@EqualsAndHashcode` in the PR which is not an annotation applied by ajc, but a java compiler addon by lombok. It is a completely different way of changing the code, and the lombok one is not related to the weaving done by ajc.

[2016-03-11 20:18] krzyk commented on #45
@amihaiemil but the unwoven class appears, so I trust it should work, thanks

[2016-03-11 20:18] #45 closed

[2016-03-12 08:01] amihaiemil commented on #45
@dmarkov This issue was closed.

[2016-03-15 09:41] dmarkov commented on #45
@amihaiemil Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-36F27724J6932814A`, the task took 408 hours and 41 mins)

+30 to your rating, your total score is [+105](http://www.netbout.com/b/36402?open=rating)

[2016-03-17 11:31] dmarkov commented on #48
@nesterov-n please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-03-17 13:10] nesterov-n commented on #48
@krzyk Where can I find sample project to reproduce issue?

[2016-03-17 14:12] krzyk commented on #48
@nesterov-n I've updated the issue with an example project

[2016-03-21 09:02] nesterov-n commented on #48
@dmarkov please assign someone else

[2016-03-21 11:34] dmarkov commented on #48
@nesterov-n 30 points was deducted from your rating

[2016-03-21 11:34] dmarkov commented on #48
@nesterov-n got it, someone else will be assigned soon

[2016-04-13 09:42] dmarkov commented on #47
@nesterov-n this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-04-18 16:36] nesterov-n commented on #47
@dmarkov Please, see my PR #50. Added example for unwovenClassDir parameter

[2016-04-21 11:07] dmarkov commented on #47
@nesterov-n OK

[2016-04-27 12:29] #47 closed

[2016-04-27 12:29] dmarkov commented on #47
@yegor256 Finished, thanks, closing..

[2016-05-08 11:54] krzyk commented on #48
@yegor256 any chance to proceed with this one?

[2016-05-09 04:30] yegor256 commented on #48
@dmarkov pls assign @amihaiemil to this

[2016-05-09 07:11] dmarkov commented on #48
@yegor256 OK @amihaiemil please proceed, this task is yours

[2016-05-12 15:17] amihaiemil commented on #41
@mgreau To put it simple, the way I understood it is the following: you have your project structure and  when you run ``mvn clean test`` it fails. Then, with the fix from #42 ``mvn clean test`` should pass?

I tried it like this (without any docker stuff: took down your example project, and ran ``mvn clean test`` with ``jcabi-maven-plugin`` **before** your change, and with ``jcabi-maven-plugin`` *

[2016-05-12 15:22] amihaiemil commented on #41
@mgreau  I used ``jcabi-maven-plugin`` the following way: I took down 2 versions (the latest and the one before your changes). I built the one I wanted to use (``mvn clean install -DskipTests -Dinvoker.skip=true``) and put its version (1.0-SNAPSHOT) in your projecf's pom.xml.

[2016-05-12 15:42] amihaiemil commented on #48
@krzyk I left 2 comments on the #41 and currently waiting for a reply there. There are 2 ways of dealing with this ticket.

1) If the changes in PR #42 fixed ticket #41 but introduced a bug, then we should dig deeper and fix the bug in this ticket (and ticket #41 should actually be closed by now)

and

2) If the changes in PR #42  **did not** fix ticket #41 then I simply revert those changes, we c

[2016-05-12 15:52] mgreau commented on #41
As you can see here https://github.com/mgreau/jcabi-ajc-classpath-issue/tree/master/docker I use docker and specific shell (maven command) for each case in order to have an empty maven local repository because it fails when the .m2 repo is empty because the SNAPSHOT is not available in the repo (and itis what happens when we do a release).

[2016-05-12 16:20] amihaiemil commented on #41
@mgreau I understood that and I alsi madw sure that comons snapshot jar is not in the m2 local repo. And, like I said, mvn clean install acted the same with and without your changes. Again, the commons snapshot jar was never in the local repo.

[2016-05-12 16:32] amihaiemil commented on #41
@mgreau the way I understand it, the changes did not fix the problem. Please let me know if I'm right. If I am, then I will revert the commit so that ticket #48 can be closed and then this ticket can continue.

[2016-05-17 08:54] amihaiemil commented on #41
@mgreau I found the problem, it is not what I initially thought. So your changes did fix the issue in this ticket. Please close it. Thanks.

Br,
Mihai Andronache

[2016-05-17 09:30] mgreau commented on #41
Ok, thanks

[2016-05-17 09:30] #41 closed

[2016-05-17 11:45] amihaiemil commented on #48
@dmarkov I created PR #51 for this issue. Please find a reviewer. Thanks.
cc: @krzyk

[2016-05-19 07:26] dmarkov commented on #48
@amihaiemil OK

[2016-05-23 14:28] amihaiemil commented on #48
@dmarkov I need more time. Waiting for Yegor's approval on the PR.

[2016-05-24 07:47] dmarkov commented on #48
@amihaiemil OK, no problem, take your time

[2016-05-24 16:17] amihaiemil commented on #48
@yegor256 ping

[2016-05-25 13:12] amihaiemil commented on #48
@yegor256 ping

[2016-06-08 10:01] dmarkov commented on #45
@krzyk the last puzzle `45-e72ce9fe`/#47 solved

[2016-06-16 04:13] yegor256 commented on #48
@amihaiemil I'm here

[2016-06-16 04:37] amihaiemil commented on #48
@krzyk the pr has been merged and closed

[2016-06-16 05:18] krzyk commented on #48
@amihaiemil When I try on a test project, I see only test classes (ending with `Test`) inside the unwoven directory, but no main classes.
I would expect to find main classes there, and test classes inside unwoven-test.

[2016-06-16 05:33] amihaiemil commented on #48
@krzyk Are you sure? what project are you testing with? Last time I checked with the findbugs-annotations project it worked ok

[2016-06-16 05:38] krzyk commented on #48
@amihaiemil yes, I'm sure. I'm testing on a project that inherits from jcabi-parent, and I override the version of the jcabi-maven-plugin. There are only junit classes in the unwoven directory.

[2016-06-16 05:39] krzyk commented on #48
@amihaiemil findbugs-annotations doesn't have test clases

[2016-06-16 05:43] amihaiemil commented on #48
@krzyk Ok, I'll have a look into it as soon as I have time

[2016-06-16 10:47] essobedo opened #53 "JSR-303 validator failed to initialize"
While trying to figure out why I get in my project error of types:

- `JSR-303 validator failed to initialize: Unable to instantiate Configuration`
- `JSR-303 validator failed to initialize: HV000183: Unable to load 'javax.el.ExpressionFactory'. Check that you have the EL dependencies on the classpath, or use ParameterMessageInterpolator instead`

I realized that If I add the following dependency

[2016-06-17 11:41] krzyk commented on #48
@yegor256 can we release new version of jcabi-maven-plugin?

[2016-06-17 11:42] krzyk commented on #48
@amihaiemil thanks

[2016-06-18 04:40] krzyk commented on #48
@yegor256 sorry, it was too soon, let's wait for the second PR to merge

[2016-06-20 07:12] dmarkov commented on #53
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-22 23:30] yegor256 commented on #53
@rultor release, tag is `0.14.1`

[2016-06-22 23:31] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/8899-227907813)

[2016-06-22 23:41] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/8899-227907813) (took me 10min)

[2016-06-22 23:53] yegor256 commented on #53
@essobedo should be fine in version 0.14.1 thanks!

[2016-06-22 23:53] #53 closed

[2016-06-23 05:17] amihaiemil commented on #48
@krzyk pr was closed, you can have a look

[2016-06-23 06:31] essobedo commented on #53
@yegor256 many thanks

[2016-06-24 09:20] amihaiemil commented on #48
@krzyk ping

[2016-06-24 11:35] krzyk commented on #48
@amihaiemil thanks

[2016-06-24 11:35] #48 closed

[2016-06-27 11:08] krzyk commented on #48
@yegor256 could we release a new version of jcabi-maven-plugin?

[2016-06-27 23:04] yegor256 commented on #48
@krzyk the latest is 0.14.1 and it has all recent changes

[2016-06-28 09:28] amihaiemil commented on #48
@dmarkov this ticket is closed

[2016-06-28 10:14] dmarkov commented on #48
@amihaiemil Many thanks! **30 mins** were added to your account in Transaction ID `AP-2M6747456B475322E` (task took 1178 hours and 50 mins)

+30 added to your rating, current score is: [+330](http://www.netbout.com/b/36402?open=rating)

[2016-10-19 02:29] amareen1988 opened #54 "Limit Weaving"
It looks like when the plugin executes, it picks up any .class file on the classpath (including those in dependencies) and weaves it if it is annotated with `@Aspect`. How can I specify exactly which classes to choose and exclude others?

[2016-10-28 10:41] dmarkov commented on #54
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-11-22 07:16] yegor256 commented on #54
@amareen1988 I don't think it's technically possible in AspectJ, but we will take a look, thanks

[2016-12-30 01:46] shutu opened #55 "Plugin execution not covered by lifecycle configuration"
[code]
Eclipse has error:
Plugin execution not covered by lifecycle configuration: com.jcabi:jcabi-maven-plugin:1.0-SNAPSHOT:ajc (execution: default, phase: process-classes)

[2017-01-02 08:09] dmarkov commented on #55
@yegor256 please dispatch this issue

[2017-04-19 08:26] mykhailov-egnaroinc opened #56 "Possibility of usage of jcabi maven plugin in SBT"
Hi,
First of all, really appreciate your work on this plugin and aspects library as well.

I have a SBT project A which contains annotation and aspect handling, both works fine in scope of this project. However, this project A is injected as jar to other SBT project B and I have to use the annotation (thus an aspect that handles it) from external jar (project A) in project B. As far as I understan

[2017-04-19 08:26] 0crat commented on #56
@yegor256 please, pay attention to this issue

[2017-04-25 12:48] yegor256 commented on #56
@mykhailov-egnaroinc I don't have any experience with SBT, but you're welcome to submit a pull request, if you can make it work with this builder

[2017-04-25 13:03] mykhailov-egnaroinc commented on #56
@yegor256 I've managed to handle binary weaving of jar via AspectJ only using this SBT plugin https://github.com/sbt/sbt-aspectj without usage of jcabi maven plugin. Thanks for your time.

[2017-04-25 13:03] #56 closed

[2017-05-02 17:39] 0crat commented on #56
Oops! Job `gh:jcabi/jcabi-maven-plugin#56` was not in scope

[2017-06-05 11:56] xuyoujia commented on #18
very good

[2017-12-20 14:52] mige-at-work opened #58 "ClassFormatException on Mac/Java8"
When running

mvn clean package i get an exception and weaving is aborted.

org.aspectj.apache.bcel.classfile.ClassFormatException

See below for all details:
_____________________ POM ____________________

            <plugin>
                <groupId>com.jcabi</groupId>
                <artifactId>jcabi-maven-plugin</artifactId>
                <version>0.14.1</version>
                <configur

[2017-12-20 17:54] 0crat commented on #58
@yegor256 please, pay attention to this issue

[2017-12-21 12:42] yegor256 commented on #58
@mige-at-work maybe this will help: https://github.com/Azure/azure-service-bus-java/issues/78

[2018-04-23 23:50] bernieatenovlab commented on #58
I was able to fix it by forcing the plugin to use a newer aspectj version, in my case 1.9.1:
[code]

[2018-04-27 10:14] krzyk opened #59 "jcabi-maven-plugin doesn't work in java 10 project"
When building a project that has jcabi-maven-plugin (0.14.1) it fails when using Java 10:
[code]

Without this it is impossible to use this library in any modern project.
*It is* possible to make this library work in post-Java 9 world, it needs to use the right dependencies instead of relaying on the JDK.

[2018-04-27 10:15] 0crat commented on #59
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-27 10:15] 0crat commented on #59
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-02 06:58] krzyk commented on #59
@yegor256 ping

[2018-05-06 04:54] yegor256 commented on #59
@krzyk would you be interested to contribute with a PR?

[2018-05-06 04:55] 0crat commented on #59
Job [#59](https://github.com/jcabi/jcabi-maven-plugin/issues/59) is now in scope, role is `DEV`

[2018-05-06 04:56] 0crat commented on #59
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-06 04:56] krzyk commented on #59
@yegor256 OK, I'll create a PR.

[2018-05-06 08:36] 0crat commented on #59
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-11 10:36] 0crat commented on #59
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.htm

[2018-05-14 13:34] yegor256 commented on #59
@0crat out

[2018-08-30 08:42] driver733 opened #61 "master fails to build"
`Failed to execute goal org.apache.maven.plugins:maven-plugin-plugin:3.2:descriptor (default-descriptor) on project jcabi-maven-plugin: Execution default-descriptor of goal org.apache.maven.plugins:maven-plugin-plugin:3.2:descriptor failed: 126971`

https://github.com/jcabi/jcabi-maven-plugin/pull/60
https://travis-ci.org/jcabi/jcabi-maven-plugin/builds/421525620?utm_source=github_status&utm_mediu

[2018-08-30 08:42] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-30 08:42] 0crat commented on #61
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RUBL5H9) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-25 16:37] 0crat commented on #61
Job [#61](https://github.com/jcabi/jcabi-maven-plugin/issues/61) is now in scope, role is `DEV`

[2018-12-25 16:44] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/jcabi/jcabi-maven-plugin/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2018-12-25 16:48] 0crat commented on #61
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @driver733[/z](https://www.0crat.com/u/driver733)

[2018-12-30 17:39] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/jcabi/jcabi-maven-plugin/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2019-01-04 18:41] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/jcabi/jcabi-maven-plugin/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2019-01-09 19:41] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/jcabi/jcabi-maven-plugin/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2019-01-14 20:37] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/jcabi/jcabi-maven-plugin/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2019-01-19 22:07] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/jcabi/jcabi-maven-plugin/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2019-01-24 22:44] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#61](https://github.com/jcabi/jcabi-maven-plugin/issues/61); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the sco

[2020-05-19 17:45] yegor256 opened #62 "rebuild with new parent"

[2020-09-21 05:47] R1DEN opened #64 "Weaving aspects from dependencies doesn't seem to work"
Hi all, I am trying to make Kotlin to work with AspectJ compile time weaving for Allure reporting framework.
I've configured the POM by [this](https://github.com/serpro69/kotlin-aspectj-maven-example) model.
Here's the build section of my POM:
`    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-resources-

[2022-01-30 01:59] yegor256 commented on #62
@rultor release, tag is `0.15.0`

[2022-01-30 02:00] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25488-1025049857)

[2022-01-30 02:13] rultor commented on #62
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25488-1025049857) (spent 13min)

[code]

[2022-02-01 18:44] slash33 opened #78 "Execution default of goal com.jcabi:jcabi-maven-plugin:0.15.0:ajc failed. NullPointerException"
hi, with jcabi-maven-plugin version 0.15.0 i have this exception :
 Execution default of goal com.jcabi:jcabi-maven-plugin:0.15.0:ajc failed. NullPointerException

pom.xml :
[code]

[2022-02-07 18:08] omax commented on #78
Same issue for me too. Details:

Caused by: java.lang.NullPointerException
    at org.apache.maven.shared.dependency.graph.internal.Maven31DependencyGraphBuilder.buildDependencyGraph (Maven31DependencyGraphBuilder.java:99)
    at org.apache.maven.shared.dependency.graph.internal.DefaultDependencyGraphBuilder.buildDependencyGraph (DefaultDependencyGraphBuilder.java:81)
    at com.jcabi.maven.plugin

[2022-07-12 20:32] yegor256 commented on #62
@rultor release, tag is `0.15.0`

[2022-07-12 20:32] yegor256 commented on #61
@driver733 works fine now

[2022-07-12 20:33] yegor256 commented on #59
@krzyk works now, try version 0.15.0

[2022-07-12 20:33] #59 closed

[2022-07-12 20:34] yegor256 commented on #62
@rultor stop

[2022-07-12 20:34] yegor256 commented on #62
@rultor release, tag is `0.16.0`

[2022-07-12 20:35] rultor commented on #62
@yegor256 OK, I'll try to stop current task.

[2022-07-12 20:35] rultor commented on #62
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25488-1182475893) (spent 2min)

[code]

[2022-07-12 20:38] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25488-1182476025)

[2022-07-12 20:54] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25488-1182476025) (took me 16min)

[2022-07-13 05:15] yegor256 commented on #78
@omax @slash33 fixed now, try version `0.16.0`

[2022-07-13 05:15] #78 closed

[2022-08-11 06:30] yegor256 opened #80 "refresh"

[2022-08-11 06:32] yegor256 commented on #80
@rultor release, tag is `0.17.0`

[2022-08-11 06:32] rultor commented on #80
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26482-1211599378)

[2022-08-11 06:48] rultor commented on #80
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26482-1211599378) (took me 15min)

[2022-08-11 06:48] #80 closed

[2022-08-11 08:07] 0crat commented on #80
Job `gh:jcabi/jcabi-maven-plugin#80` is not assigned, can't get performer

[2022-09-26 06:29] renovate[bot] opened #84 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.apache.maven.plugins:maven-plugin-plugin to v3.6.4
 - [ ] Update dependency org.apache.m